.stepsProgressContainer {
    background: #B9BCC0;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 60px;
    padding: 16px 0px;
    text-align: center;
}

.stepsProgressTitle {
    color: #333;
    font-size: 16px;
    margin-bottom: 40px;
}

.stepsCells {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 40%;
}

.step {
    height: 4px;
    width: 80px;
    margin-right: 6px;
}

.completed {
    background: #0072CE;
}

.pending {
    background: #595959;
}