body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.background {
  background-color: #F0F3F5;
  height: 100vh;
  width: 100vw;
}

/*
Home page
*/
ul.homePageList {
  margin: 0;
}

/*
Common step container styles
*/

.stepContainer {
  background-color: #FFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: auto;
  max-height: 80vh;
  padding: 50px 10px;
  text-align: center;
  width: 60%;
}

.stepContainerText {
  color: #404040;
}

.stepContainerTitle {
  font-size: 34px;
  font-weight: bold;
  line-height: 39px;
  margin: auto auto 40px;
  width: 60%;
}

.stepContainerSubTitle {
  font-size: 16px;
  line-height: 24px;
  margin: auto auto 40px;
  width: 60%;
}

.iconsContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-left: 10%;
  width: 80%;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  height: 90px;
  justify-content: space-between;
}

.iconText {
  color: #333;
  font-size: 16px;
  line-height: 24px;
}

.stepError {
  color: red;
  font-size: 14px;
  margin: 12px auto;
}

.buttonContainer button,
.stepsButtonContainer button {
  background: #0072CE;
  border: 0px;
  border-radius: 50px;
  color: #FFF;
  cursor: pointer;
  height: 42px;
  text-transform: uppercase;
}

button.disabled {
  background: #ccc;
  cursor: auto;
}

.stepsButtonContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.buttonContainer button {
  width: 390px;
}

.stepsButtonContainer button {
  width: 290px;
}

.backButtonContainer {
  margin: 50px auto 0px;
  text-align: center;
  width: 80%;
}

.backButtonContainer a {
  color: #0072CE;
  cursor: pointer;
  font-size: 13px;
}